# App Environment Variables
NODE_ENV=development
SESSION_SECRET=yourSessionSecretHere

# Database Configuration
DATABASE_URL=file:.data/local.db

# GitHub API Token
GITHUB_TOKEN=your_github_token_here

# Redis Configuration
REDIS_URL=
